.navbar{
    position: sticky;
    background-color: #03001C;
}
.judul{
    background-color: #301E67;
    color: white;
    padding-top: 5%;
    font-size: 4vw;
    padding-bottom: 5%;
}
.row{
    position: relative;
}
.box{
    background-color: #5B8FB9;
    width: 30vw;
    height: 30vw;
}