
:root{
    --bg: #03001C;
    --primary: #5B8FB9;
    --second: #301E67;
    --third: #5B8FB9;
    --putih: #fff;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #B6EADA;
}

.home-top{
    position: relative;
    text-align: center;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: poppins, sans-serif;
}
#welcome{
    position: absolute;
    margin-top: -40%;
    text-align: center;
    text-shadow: 0 0 10px rgba(3, 0, 28, 1);
}
#welcome span{
    -webkit-text-stroke: 0.05vw var(--bg);
    background-color:var(--primary) ;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#welcome h2{
    font-size: 5vw;
}
#welcome h4{
    -webkit-text-stroke: 0vw black;
    -webkit-text-fill-color: white;
    font-size: 3vw;
}
.home-news{
    margin-top: 5%;
    margin-bottom: 5%;
}
.judul{
    margin-top: -4%;
    background-color: #301E67;
    color: white;
    padding-top: 5%;
    font-size: 4.5vw;
    padding-bottom: 5%;
}
.news{
    height: 95%;
    color: white;
    margin-top: 2%;
    padding: 3%;
    background-color: #301E67;
    border-radius: 5px;
}
.news h5{
    margin-top: 2%;
    font-size: 3vw;
}
.news img{
    width: 100%;
}
.vid{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5%;
}
.yt-embed{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
.alumni{
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
.box{
    height: 100%;
    background-color: #5B8FB9;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    border-radius: 5%;
    border-top-right-radius: 25vw;
    border-top-left-radius: 25vw;
    color: white;
    font-size: 1vw;
}
.box .image{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 18vw;
    border-radius: 100%;
}
.box .teks{
    height: 100%;
}
.box h5{
    text-align: center;
    font-size: 1.5vw;
}
.box p{
    text-align: justify;
}

@media only screen and (min-width: 768px){
    .judul{
        font-size: 6vw;
    }
    .news h5{
        font-size: 1.5vw;
    }
}
@media only screen and (max-width: 767px){
    .alumni{
        margin-left: 2%;
        margin-right: 2%;
    }
    .box{
        height: 95%;
        border-radius: 10vw;
        margin-left: 0;
        margin-right: 0;
        padding: 4%;
        font-size: 1.7vw;
        border-top-left-radius:25vw ;
        border-bottom-left-radius: 24vw ;
    }
    .box .image{
        height: 25vw;
        width: 30%;
    }
    .box h5{
        text-align: start;
        font-size: 4vw;
    }
}