:root{
    --bg: #03001C;
    --primary: #5B8FB9;
    --second: #301E67;
    --third: #5B8FB9;
    --putih: #fff;
}
html{
    scroll-behavior: smooth;
}


.home-top{
    position: relative;
    text-align: center;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: poppins, sans-serif;
}
#welcome{
    position: absolute;
    margin-top: -40%;
    text-align: center;
    text-shadow: 0 0 10px rgba(3, 0, 28, 1);
}
#welcome span{
    -webkit-text-stroke: 0.05vw var(--bg);
    background-color:var(--primary) ;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#welcome h2{
    font-size: 4.8rem;
}
#welcome h4{
    -webkit-text-stroke: 0vw black;
    -webkit-text-fill-color: white;
    font-size: 2rem;
}
.home-news{
    margin-top: 5%;
    margin-bottom: 5%;
}
.judul{
    font-size: 4vw;
    margin-bottom: 5%;
}
.news{
    color: white;
    margin-top: 2%;
    padding: 3%;
    background-color: #301E67;
    border-radius: 5px;
}
.news img{
    width: 100%;
}
.vid{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5%;
}
.yt-embed{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}