:root{
    --bg: #03001C;
    --primary: #5B8FB9;
    --second: #301E67;
    --third: #5B8FB9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 7%;
    background: rgba(3, 0, 28, 0.8);
    border-bottom: 1px solid var(--third);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.navbar .navbar-logo{
    margin-left: 3rem;
}
.navbar .navbar-logo span{
    color: var(--primary);
}

.navbar.navbar-extra{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
}
.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

.navbar .navbar-nav{
    margin-right: 5rem;
}
.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.8);
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link,
.navbar-brand{
    color: #fff;
    cursor: pointer;
}
.nav-link:hover{
    color: #B6EADA;
}
.nav-link:visited{
    color: var(--third);
}
.navbar-collapse{
    justify-content: flex-end;
}

.d-flex{
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #03001C;
}
.map{
    margin-left: 15%;
}
.contacts{
    position: absolute;
    
    color: #fff;
}
.contacts:hover{
    color: #8CABFF;
}
#copyright{
    color: gray;
}
