.news-box{
    margin: 3%;
    width: 90vw;
    height: 20vw;
    background-color:#5B8FB9;
    position: relative;
}
.box{
    background-size: cover;
    background-position: center;
}
.judul{
    background-color: #301E67;
    color: white;
    padding-top: 5%;
    font-size: 4vw;
    padding-bottom: 5%;
    
}
.content{
    color: white;
}
.readmore{
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.readmore a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
 .readmore a:hover, a:active {
    background-color:aliceblue;
  }